# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Terraform Variables
*.tfvars
!terraform.tfvars.example

# Sensitive Files
*.pem
*.key

# OS Files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log